.info-flag img {
    width: 100px;
    border-radius: 8px;
}

.info-flag {
    height: 150px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.info-container {
    width: 300px;
}

.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

.inner-container {
    display: flex;
    justify-content: space-between;
}

.info-innerContainer {
    margin: 8px;
}

.info-population, .info-confirmed, .info-recovered, .info-deaths, .info-today, .info-active, .info-critical {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
