.table {
    margin-top: 24px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
}

.table::-webkit-scrollbar {
    display: none;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.DarkMode {
    background-color: #222 !important;
    color: white;
}

.DarkMode tr:nth-child(odd) {
    border-top: 2px solid #fc3c3c;
    border-bottom: 2px solid #fc3c3c;
}